.chekedDivContainer{
    flex-shrink: 0;
    width:20rem;
    border-top: 1px solid rgb(224,224,224);
}

.chekedDivsWrapper{
    height: 0rem;
    opacity: 0;
    width: 20rem;
    font-size: 1.2rem;
    display: flex;
    padding-left:2rem;
    position:relative;
    align-items: center;
    cursor:pointer;
    color: rgb(95,98,104);
    transition: all 0.5s;
    top: -1rem;
    border-bottom: 1px solid rgb(224,224,224);
    user-select: none;
  }
  .chekedDivsWrapper.opened{
    top: 0;
    height: 3rem;
    opacity: 1;
    transition: all 0.8s;
  }

i {
    border: solid rgb(95,99,104);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    right:2rem;
  }

  i.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  i.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  } 