.taskListSelector {
    position: relative;
    font-family: Arial;
    display: flex;
  }
  
  .taskListSelector select {
    display: none; 
  }
  
  .select-selected:after {
    position: relative;
    content: "";
    top: 12px;
    left:5%;
    /* transform: translate(40px,2px); */
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: rgba(33,34,37,0.7) transparent transparent transparent;
  }
  
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent rgba(33,34,37,0.7) transparent;
    top: -10px;
  }
  .taskListIcon{
    height:2.5rem;
    width:2.5rem;
    position: absolute;
    right:5%;
    top:1%;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .taskListIcon:hover {
    background-color: rgba(163, 159, 159, 0.171);
  }
  .taskListIcon:active{
    background-color: rgba(163, 159, 159, 0.37);
  }
  .taskListIcon:after {
    content: '\2807';
    font-size: 1.8em;
    color: #2e2e2e;
    transform: translate(20%,7%);

   }
   .taskListSelector:after :hover{
     background-color: rgb(43, 31, 15);
   }
  
  .select-items div,.select-selected {
    width: 100%;
    color: rgba(33,34,37,0.7);
    padding: 8px 16px;
    cursor: pointer;
  }
  .select-selected {
    width: 65%;  
    /* background-color: DodgerBlue; */
  }
  
  
  .select-items {
    width: 70%;
    position: absolute;
    background-color: white;
    top: 120%;
    left: 3%;
    right: 0;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.05rem rgba(121, 119, 119, 0.384) ;
  }
  .selectedListIcon{
    height:1rem;
    vertical-align: middle;
    position: absolute;
    right:1.5rem;
  }
  
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: whitesmoke;
  }