.optionsPanelContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(190, 190, 190, 0.1);
  z-index: 99;
  user-select: none;
}
.optionsPanel.open {
  animation: slideOut 0.2s ease-in-out 1;
}
@keyframes slideOut {
  0% {
    width: 5rem;
    opacity: 0;
    height: 10rem;
  }
  50% {
    opacity: 0.7;
  }
  75% {
    height: 22rem;
  }
  100% {
    width: 15rem;
    opacity: 1;
  }
}
.optionsPanel {
  width: 15rem;
  position: absolute;
  height: 22rem;
  top: 8px;
  right: 16px;
  box-shadow: 1px 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: rgb(255,255,255);
  z-index: 9;
  padding: 8px 0;
}

.optionsTitle,.options{
    height: 40px;
    line-height: 40px;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    padding-right: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.options:hover{
    background-color: whitesmoke;
    cursor: pointer;
 }
.options.inactive{
   pointer-events: none;
}
.optionsTitle{
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    cursor: default;
}
.seperator{
    border-top: 1px solid rgba(0,0,0,0.2);
}

.closeIcon {
    position: absolute;
    right: 18px;
    top: 18px;
    width: 32px;
    height: 20px;
    opacity: 0.3;
    z-index: 99;
    cursor: pointer;
  }
  .closeIcon:hover {
    opacity: 1;
  }
  .closeIcon:before, .closeIcon:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #333;
  }
  .closeIcon:before {
    transform: rotate(45deg);
  }
  .closeIcon:after {
    transform: rotate(-45deg);
  }