
.modal-container{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width:100%;
    background-color:rgba(59, 59, 59, 0.452);
    z-index:99;
    font-family: Google Sans, Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    justify-content: center;
    align-items: center;
}
.modal-div{
    position: relative;
    height:10rem;
    width:15rem;
    background-color: rgb(255, 255, 255);
    border-radius: 13px;
    padding:1.5rem;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}
.modalText{
    font-size: 15px;
    font-weight: 400;
    /* height: 1.5rem; */
    cursor: default;
}
.modalContent{
    display: flex;
    align-items: center;
    height: 4rem;
}
.modalContent div{
    width: -webkit-fill-available;
}
.modalContent textarea  {
    font-family: sans-serif;
    resize: none;
    overflow: hidden;
    padding: 2px;
    min-height: 1rem;
    max-height: 58px;
    background-color:transparent;
    border: none; 
    outline: none;
    resize: none;
    vertical-align: middle;
    font-size: 16px;
    overflow-x: scroll;
    font-weight: 300;
    width: -webkit-fill-available;
}
.modalContent textarea::-webkit-scrollbar {
    display: none;
  }
.modalButtonsContainer{
    position: absolute;
    bottom:1rem;
    right:1.5rem;
    width:8rem;
    height: 2rem;
}
.modalButtonsContainer button{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:4rem;
    height: 2rem;
    vertical-align: middle;
    cursor: pointer;
    outline-width: 0;
    background-color: white;
}
