.newTaskContainer{
    height: 3rem;
    display: flex;
    border: 0.01px solid;
    border-radius: 3rem;
    margin: 10px;
}
.plusImageNewTask{
    position: relative;
    height:1.2rem;
    top: 50%;
    transform: translate(0,-50%);
    margin:0 1rem;
}
.textAreaNewTask{
    position: relative;
    height:1.8rem;
    top: 50%;
    transform: translate(0,-50%);
    line-height: 1.2rem;
    font-size: 1.2rem;
    border: none;
    outline: none;
    resize: none;
    padding: 0 1rem 0 0.5rem;
    border-radius: 20px;
}
.textAreaNewTask:hover::placeholder,.textAreaNewTask:focus::placeholder{
    /* background-color: rgba(212, 211, 211, 0.178); */
    color:rgba(0, 0, 0, 0.719)
}
.newTaskImgContainer{
    transition: all 0.5s;
    /* height: 1vh; */
    border:0.1rem ;
    border-radius: 50%;
    cursor: pointer;
}
.newTaskContainer:hover{
    background-color: rgba(212, 211, 211, 0.178);
}
.newTaskContainer:hover > .textAreaNewTask{
    background-color: rgba(212, 211, 211, 0.068);
}